.member-choose-button-icon {
    border-radius: 100px;
    width: 30px;
    margin-top: 2.5px;
    margin-right: 5px;
    filter: none !important;
}

.member-choose-button {
    width: 100%;
}

.member-tab {
    text-transform: none;
}

.members-tab {
    width: 230px;
    height: calc(100vh - 78px);
    padding-left: 0px !important;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid rgb(189, 189, 189);
    float: left;
}

#member-display {
    height: calc(100vh - 78px);
    width: calc(100vw - 295px);
    overflow: auto;
    position: absolute;
    min-width: 1000px;
    /* 選択不可 */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#member-display-content-space {
    float: left;
}

#member-display-image-container {
    height: 100%;
    max-width: 400px;
    float: left;
}

#members-body-img {
    object-fit: contain;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    padding: 10px 10px;
}

#members-row {
    margin-bottom: 0;
    overflow: hidden;
}

#member-display-name-top {
    font-size: 50px;
    min-width: none;
}

#member-display-name-alphabet {
    color: gray;
    font-size: 20px;
    min-width: none;
    padding-left: 10px;
}

#member-display-description {
    margin-top: 10px;
    width: 500px;
}

#member-display-table {
    margin-top: 10px;
}

#member-display-suggest-vid {
    margin-top: 10px;
}

#members-row ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#members-row ::-webkit-scrollbar-track {
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777;
}

#members-row ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    box-shadow: none;
}